<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Manga Collections</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>

<h1>Mes Lieux: <%= locations %></h1>

<ul>
    <li><a href='/collections'>Mes collections</a></li>
    <li><a href='/locations'>Mes lieux</a></li>
    <li><a href='/mangas'>Mes mangas</a></li>
</ul>

<!-- <ul>
    <% 
    for (var i = 0; i<mangas.length; i++) { %>
        <li><a href="/mangas/delete/<%= i %>">💥</a><%= mangas[i].name %></li>
        <% } 
    %>
</ul> -->

<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Numéro de tome</th>
        <th>Collection</th>
        <th>Lieu</th>
    </tr>
    <% 
    for (var i = 0; i<mangas.length; i++) { %>
        <tr>
            <td><%= mangas[i].id %></td>
            <td><%= mangas[i].name %></td>
            <td><%= mangas[i].tomeNumber %></td>
            <td><%= mangas[i].collection %></td>
            <td><%= mangas[i].location %></td>
        </tr>
        <% } 
    %>
</table>

<div>Ajouter un manga :</div>
<form action="/locations/mangas/add/" method="post">
    <label for="manga">Nom du manga :</label>
    <input type="text" name="manga" id="textInput" autofocus>
    <label for="tomeNumber">Tome numero :</label>
    <input type="text" name="tomeNumber" id="textInputModif">
    <label for="collection">Collection :</label>
    <select name="collection">
        <% 
        for (var i = 0; i<collections.length; i++) { %>
            <option><%= collections[i].name %></option>
            <% } 
        %>
    </select>
    <label for="location">Location :</label>
    <input type="text" name="locations" id="textInput" value=<%= locations %>>
    <button type="submit" id="validate">Valider</button>
</form>

</body>

</html>